<div class="col-12 d-flex justify-content-around p-2">
    <div class="col-3 d-flex flex-column align-items-center">
        <a class="col-12 d-flex flex-column align-items-center link-icone" target="_blank" href="https://www.linkedin.com/in/lucascavalcantiads/">
            <i class="fab fa-linkedin icone-rodape"></i>
        </a>
        <span class="col-12 text-center">Linkedin</span>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
        <a class="col-12 d-flex flex-column align-items-center link-icone" target="_blank" href="https://www.instagram.com/sapatinhohehe/">
            <i class="fab fa-instagram icone-rodape"></i>
        </a> 
        <span class="col-12 text-center">Instagram</span>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
        <a class="col-12 d-flex flex-column align-items-center link-icone" target="_blank" href="https://github.com/lucas-cavalcanti-ads">
            <i class="fab fa-github-square icone-rodape"></i>
        </a>
        <span class="col-12 text-center">Github</span>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
        <a class="col-12 d-flex flex-column align-items-center link-icone" target="_blank" href="mailto:lucas.tnv27@gmail.com" >
            <i class="fas fa-envelope-open-text icone-rodape"></i>
        </a>
        <span class="col-12 text-center">E-mail</span>
    </div>
</div>