<nav>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <a class="navbar-brand" href="/inicio">
        <span>Lucas de Paula</span>
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/sobre">
          <mat-icon>person</mat-icon>
          <span>sobre</span>
        </button>
        <button mat-menu-item routerLink="/portifolio">
          <mat-icon>library_books</mat-icon>
          <span>portifólio</span>
        </button>
        <button mat-menu-item routerLink="/tecnologias">
          <mat-icon>code</mat-icon>
          <span>tecnologias</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>