<section class="secao-tecnologias" id="secao-tecnologias">
    <h2 class="site-subtitle text-left pt-2">
        Tecnologias, conceitos e metodologias em desenvolvimento
    </h2>

    <div class="d-flex flex-column mt-5">
        <div class="col-12">
            <h3>
                Front-end
            </h3>
            <ul class="list-group list-group-flush">                    
                <li *ngFor="let i of listaTecnologiasFrontEnd" class="list-group-item bg-transparent text-light col-12"> > {{ i }} </li>
            </ul>
        </div>
        <div class="col-12">
            <h3>
                Back-end
            </h3>
            <ul class="list-group list-group-flush">
                <li *ngFor="let i of listaTecnologiasBackEnd" class="list-group-item bg-transparent text-light col-12"> > {{ i }} </li>                               
            </ul>
        </div>
        <div class="col-12">
            <h3>
                Mobile
            </h3>            
            <ul class="list-group list-group-flush">
                <li *ngFor="let i of listaTecnologiasMobile" class="list-group-item bg-transparent text-light col-12"> > {{ i }} </li>
            </ul>
        </div>
    </div>
    <div class="d-flex flex-column">
        <div class="col-12 ">
            <h3>
                Ferramentas
            </h3>
            <ul class="list-group list-group-flush">                    
                <li *ngFor="let i of listaTecnologiasFerramentas" class="list-group-item bg-transparent text-light col-12"> > {{ i }} </li>
            </ul>
        </div>
        <div class="col-12">
            <h3>
                Metodologias e conceitos
            </h3>
            <ul class="list-group list-group-flush">
                <li *ngFor="let i of listaTecnologiasMetodologias" class="list-group-item bg-transparent text-light col-12"> > {{ i }} </li>
            </ul>
        </div>        
    </div>
</section>