<section class="secao-sobre" id="secao-sobre">
    <div *ngIf="exibeSpinner" class="d-flex justify-content-center align-items-center container-spinner">
        <mat-spinner ></mat-spinner>
    </div>
    <div *ngIf="!exibeSpinner">
        <h2 class="site-subtitle text-left">
            O Lucas
        </h2>                
        <img src="../../../assets/images/foto-perfil-1.jpeg" alt="Foto de perfil de Lucas de Paula">            
        <p class="text-light container">
            Bem vindo a minha página pessoal, bom o meu nome eu nem preicso dizer não é?! Está espalhado por toda a página haha. Bom por onde eu começo, nascido em 1996, atualmente com 1,78m, 72kg, escorpiano, streetwear, bem humorado e claro um grande amante de tecnologia.            
        </p>
        <p class="text-light container">
            Se você está lendo isso através desse blog isso de dá por conta da tecnologia, a minha história com ela não é de longa data, mas não se engane, está sendo bem intensa com certeza! Estou nessa jornada desde 2019 e por incrível que pareça muita coisa ja aconteceu, minha transição de carreira, primeiro projeto sendo entregue (sensação incrível, recomendo a todos), mentoria, fui premiado dentro da empresa, promovido, parando para pensar estou sendo incrívelmente abençoado! Mas não se engane, fácil nunca foi rs! Muitas horas em claro durante os estudos e aperfeiçoamento, mas no final sem arrependimentos, acredito que todo esse esforço durante o tempo, foi muito bem recompesado!
        </p>
        <p class="text-light container">
            Mas é isso gente, e se você que está lendo tudo isso está em uma fase parecida com a que passei de migração de area, só tenho uma coisa a te dizer! Se arrisque, a tecnologia com toda a certeza mudou a minha vida. É provável que não vai ser fácil, mas as recompensas são enormes! E se precisar de algo e quiser trocar uma ideia, experiências, não arrasta pra cima não, vai até o final da página escolhe um jeito pra gente se falar!
        </p>
    </div>
</section>