<section class="secao-sobre" id="secao-sobre">

    <div *ngIf="exibeSpinner" class="d-flex justify-content-center align-items-center container-spinner">
        <mat-spinner ></mat-spinner>
    </div>

    <div *ngIf="!exibeSpinner">
        <h2 class="site-subtitle text-left">
            O Lucas
        </h2>
                
        <img src="https://app-blog-pessoal-imagens.s3.sa-east-1.amazonaws.com/foto-perfil.jpg" alt="Foto de perfil de Lucas de Paula">
    
        <p class="text-light container">
            Bem vindo a minha página pessoal, bom o meu nome eu nem preicso dizer não é?! Está espalhado por toda a páginha haha. Bom por onde eu começo, eu tenho 23 anos, 1,79m, 68kg, brincadeira haha, bom para começar acho que posso começar dizendo que se você está vendo essa página o único tema que você encontrará será sobre tecnologia, eu sou um dos milhares de amantes que existem por tecnologia, eu respiro tecnologia todos os dias, seja no meu trampo, faculdade ou minhas poquissimas horas livres.
        </p>
    </div>
</section>