<section class="secao-meuportifolio" id="secao-meuportifolio">
  <div *ngIf="exibeSpinner" class="d-flex justify-content-center align-items-center container-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!exibeSpinner">
    <h2 class="site-subtitle text-left pt-3">
      Portifólio
    </h2>
    <div class="container d-flex justify-content-center flex-wrap">
      
        <div *ngFor="let portifolio of listaPortifolios" class="col-sm-8 col-md-12 col-lg-8 col-xl-4 p-0 m-4">
          <mat-card class="example-card">
            <div class="mat-h3">
              {{ portifolio.title }}
            </div>                          
            <mat-card-content>
              <div class="d-flex" >
                <p *ngFor="let chave of portifolio.infos_chaves"> #{{ chave }}</p>
              </div>              
              <p>
                {{ portifolio.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="{{ portifolio.link }}" mat-button>saiba mais</a>              
            </mat-card-actions>
          </mat-card>
        </div>
      
    </div>
  </div>
</section>